.wholeContainer {
    margin-left: 2%;
    margin-right: 2%;
}

.howToUse {
    background-color: rgb(186, 186, 186);
}

.inputForm {
    background-color: antiquewhite;
}

.inputSiteAndPath {
    font-weight: bold;
}

.myUrl {
    font-weight: bold;
}

.result {
    font-weight: bold;
}

.resultInput {
    height: 20em;
}
