.wholeContainer {
    margin-left: 2%;
    margin-right: 2%;
}

.howToUse {
    background-color: rgb(186, 186, 186);
}


.inputSiteAndPath {
    font-weight: bold;
    display: flex;
    background-color: lightblue;

    
}
.inputSiteAndPath input{
    max-width: 200px;
    margin: 10px;
}
.inputSiteAndPath select{
    max-width: 190px;
    margin: 10px;
}
.myUrl{
    max-width: 200px;
    margin: 10px;

}
.selectAndCheck{
    display: flex;
    flex-direction: column;
}

.result {
    background-color: lightcoral;
    
}

.settingsTitle{
    text-align: center;
}